.lesson-practice-user-data {
  label {
    padding-right: 10px;
  }
  input {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  input[type=submit] {
    background: #3B008F;
    border-radius: 0;
    border-width: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    min-width: 100px;
    padding: 5px 15px;
    width: 100%;
  }
  select {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 200px;
  }
}
