.App {
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #383134;
  color: white;
  height: 150px;
  padding: 20px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-footer {
  border-top: 1px #7f7e81 dashed;
  bottom: 0;
  color: #7f7e81;
  position: fixed;
  text-align: right;
  width: 100%;
}