.child-list {
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  li {
    min-width: 100px;
    padding: 0;
    margin: 0 5px 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    &:first-child {
      border: none;
    }
  }
  .profile-item {
    border: 1px solid #9C254D;
    color: #9C254D;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    &.active, &:hover {
      background: #9C254D;
      color: white;
    }
  }
}

.profile-body {
  table {
    width: 500px;
    td {
      &:first-child {
        font-weight: bold;
      }
    }
  }
}
