.calculator {
  border-radius: 5px;
  border: 1px solid #2A3990;
  margin: 30px 15px;
  padding: 30px 15px 10px;
}

.form-holder {
  input {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  fieldset {
    margin-bottom: 20px;
  }
}
