aside {
  border: 1px solid #ccc;
  float: left;
  margin-right: 15px;
  width: 300px;
}
.lessons {
  overflow: hidden;
  padding: 0 15px 60px;
}
.lessons-list {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    border-top: 1px solid #ccc;
    padding: 0;
    &:first-child {
      border: none;
    }
  }
  .lesson-item {
    color: #9C254D;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    &.active, &:hover {
      background: #9C254D;
      color: white;
    }
  }
}
.lesson-body {
  overflow: hidden;
  padding: 0 15px;
  .title {
    display: block;
    font-size: 22px;
    line-height: 25px;
    margin: 0 0 15px;
  }
  h1, h2, h3 ,h4, h5, h6 {
    line-height: 1.5;
    margin: 0 0 10px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 15px;
  }
  code {
    background: #CFD8DC;
    border-radius: 5px;
    color: #212121;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    padding: 5px 15px;
  }
  .lesson-container {
    .title {
      font-size: 24px;
    }
  }

  button {
    background: #3B008F;
    border-radius: 0;
    border-width: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 5px 15px;
    min-width: 100px;
  }
}

.expressions, .info-panel {
  border: 1px solid #ccc;
  padding: 0 10px 10px;
  margin: 0 0 15px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.05);
  h2 {
    margin: 0 -10px 15px;
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: rgba(#eeeded, .3);
  }
  .exp-table {
    p {
      text-align: center;
    }
  }
  .article {
    margin: 0 0 15px;
  }
  .right {
    float: right;
  }
}
.lesson-intro {
  h1 {
    font-size: 28px;
    margin: 0;
    color: #9C254D;
  }
  .subtitle {
    display: block;
    color: #333;
    font-style: italic;
  }
}
