.lesson-state {
  .state-data {
    span {
      font-size: 36px;
    }
  }
  .state-actions {
    margin-top: 60px;
    button {
      width: auto;
      margin-right: 10px;
    }
    text-align: center;
  }
  .notes {
    padding-top: 60px;
    code {
      display: inline-block;
    }
  }
}
